# Arquivos de sistema
.DS_Store
Thumbs.db

# Dependências
node_modules/
venv/

# Arquivos de build
build/
dist/

# Cache do Django
*.pyc
__pycache__/

# Configurações de ambiente
.env

# Cache do IDE
.vscode/
